@import "../../../vendor/stylesheets/fonts/font-awesome/font-awesome";

@import "../../../vendor/stylesheets/junction/lib/mixins";

@import "./theme";

@import "../../../vendor/stylesheets/junction/lib/framework";

@import "../../../_source/stylesheets/_bootstrap-grid";
@import "../../../_source/stylesheets/_modals";
@import "../../../_source/stylesheets/_forms";
@import "../../../_source/stylesheets/_panel";
@import "../../../_source/stylesheets/_rock-admin";

@import "./overrides";

.shell {
  max-width: 500px;
  margin: 0 auto;

  text-align: left;
}