//
// MODAL STYLES
// --------------------------------------------------

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

.modal {
  z-index: -1;
  right: auto;
  bottom: auto;
  left: 50%;

  width: 500px;
  margin-left: -250px;
  padding: 0;

  border: 1px solid map-get($colors, dark-tertiary);
  border: 1px solid rgba($dark-color, .2);
  border-radius: 6px;
  background-color: $light-color;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba($dark-color, .5);
  box-shadow: 0 3px 9px rgba($dark-color, .5);
  
  &.modal--active {
    z-index: 200;
  }
}

.modal.container {
  max-width: none;
}

.modal-open {
  overflow: hidden;
}


/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
  overflow-y: scroll;
}

@media (max-width: 979px) {
  .modal-open.page-overflow .page-container .navbar-fixed-top,
  .modal-open.page-overflow .page-container .navbar-fixed-bottom {
    overflow-y: visible;
  }
}


.modal-scrollable {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;
}

.modal {
  position: absolute;
  top: 50%;

  overflow: visible; /* allow content to popup out (i.e tooltips) */

  margin-top: 0;

  outline: none;
}

.modal.fade {
  top: -100%;

  -webkit-transition: opacity .3s linear, top .3s ease-out, bottom .3s ease-out, margin-top .3s ease-out;
     -moz-transition: opacity .3s linear, top .3s ease-out, bottom .3s ease-out, margin-top .3s ease-out;
       -o-transition: opacity .3s linear, top .3s ease-out, bottom .3s ease-out, margin-top .3s ease-out;
          transition: opacity .3s linear, top .3s ease-out, bottom .3s ease-out, margin-top .3s ease-out;
}

.modal.fade.in {
  top: 50%;
}

.modal-body {
  overflow: visible;

  max-height: none;
}

.modal.modal-absolute {
  position: absolute;
  z-index: 950;
}

.modal .loading-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 6px;
  background: $light-color;
}

.modal-backdrop.modal-absolute {
  position: absolute;
  z-index: 940;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: .7;
  background: $light-color;

  filter: alpha(opacity=70);
}

.modal.container {
  width: 940px;
  margin-left: -470px;
}

/* Modal Overflow */

.modal-overflow.modal {
  top: 1%;
}

.modal-overflow.modal.fade {
  top: -100%;
}

.modal-overflow.modal.fade.in {
  top: 1%;
}

.modal-overflow .modal-body {
  /*overflow: auto;*/
  -webkit-overflow-scrolling: touch;
}

/* Responsive */

@media (min-width: 1200px) {
  .modal.container {
    width: 1170px;
    margin-left: -585px;
  }
}

@media (max-width: 979px) {
  .modal,
  .modal.container,
  .modal.modal-overflow {
    top: 1%;
    right: 1%;
    bottom: auto;
    left: 1%;

    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .modal.fade.in,
  .modal.container.fade.in,
  .modal.modal-overflow.fade.in {
    top: 1%;
    bottom: auto;
  }

  .modal-body,
  .modal-overflow .modal-body {
    position: static;

    overflow: visible !important;

    height: auto !important;
    max-height: none !important;
    margin: 0;
  }

  .modal-footer,
  .modal-overflow .modal-footer {
    position: static;
  }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: -12px 0 0 -12px;
}

/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  -webkit-animation-name: shake;
     -moz-animation-name: shake;
       -o-animation-name: shake;
          animation-name: shake;
}


// Rock modal (page properties, etc.)
// -------------------------

.modal-content.rock-modal,
.rock-modal .modal-content {
  color: map-get($colors, dark-primary);
  border: 0;
  background-color: map-get($colors, light-primary);

  .modal-header {
    min-height: 34px;
    padding: 5px 15px;

    color: map-get($colors, light-primary);
    background-color: map-get($colors, dark-primary);

    &:before,
    &:after {
      display: table; // 2

      content: " "; // 1
    }
    &:after {
      clear: both;
    }

    h3 {
      float: left;

      margin-right: 12px;
    }

    .close {
      margin: 0;
      padding: 6px;

      color: map-get($colors, light-primary);
      text-shadow: none;
    }

    .label {
      margin-top: 8px;
    }

    small {
      display: block;

      margin-top: 12px;

      color: darken(map-get($colors, light-primary), 10%);
    }
  }

  .modal-body {
    text-align: left;

    color: $dark-color;

    // styling for the top nav-pill naviagtion
    .nav-pills {
      margin: 6px 0 18px;
    }

    > .scroll-container {
      width: 720px;

      > .viewport {
        width: 670px;
      }
    }

    &.iframe {
      overflow: hidden;
    }
  }

  .modal-footer {
    margin-top: 10px;
    padding: 8px;

    color: $base-font-color;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    background-color: darken( $light-color, 30%);
  }
}

.rock-modal {
  .modal-body {
    padding: 8px 12px 12px 12px;
  }
  .modal-footer:after {
    clear: both;
  }
  .modal-footer .btn {
    float: right;

    margin-left: 5px;
  }
}

.modal.modal-overflow {
  top: $base-spacing-unit*3;
}

#modal-popup_iframe {
  display: block;

  width: 100%;
  height: 100%;

  border: 0;
}


// All modals
// -------------------------

.modal-backdrop,
.modal-backdrop.fade.in {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: .7;
  background-color: $light-color;

  filter: alpha(opacity=70);
}

// Fixes some appearance issues from switching standard BS modal to
// responsive bootstrap-modal.

.modal-dialog {
  width: auto;
  margin: 0;
}

.modal-content {
  border: none;
}

// Modal Helpers
.modal-open {
  .modal-scrollable {
    #modal-popup {
      height: inherit;
      max-height: 100%;

      #modal-popup_contentPanel {
        height: inherit;
        max-height: 100%;

        opacity: 1;

        #modal-popup_iframe {
          max-height: 100%;

          opacity: 1;
        }
      }
    }

    .modal-content {
        opacity: 1 !important;
        max-height: none !important;
        height: auto !important;
        
        * {
            // height: auto !important;
            max-height: none !important;
            opacity: 1 !important;
        }

        .modal-header,
        .modal-header *,
        .modal-body,
        .modal-body *,
        .modal-footer,
        .modal-footer * {
            // display: block;
            opacity: 1;
            max-height: none;
            height: auto !important;
        }
    }
  }
}
