.panel-title {
  display: none;
}

.panel-body {
  h2 {
    @extend %h1;

    .fa {
      display: none;
    }
  }
}

.panel {
  @include  media-query(lap-and-up) {
    position: relative;
  }

  position: relative;
}
