// ----------
// Page Areas
// ----------

@body-bg:           @gray-light; // The background color of the page. #color

//// Header

// The header background color.
@header-bg:         @theme-3;       
@header-text-color: @theme-3-text;  // The header text color. #color
@header-hambuger-color: @light-primary;               // The text color of the header minimizer. #color
@header-hambuger-bg: @brand-primary;        // The background color of the header minimizer. #color
@header-hamburger-border: @brand-primary;   // The border color of the header minimizer. #color