$use-horizontal-rules: false;
$fonts: (
  colfax: (
    h1: (
      font-size: 3em,
      line-height: 1.05,
      margin-bottom: $base-spacing-unit,
      font-family: "colfax-web",
      font-weight: 700
    ),
    h2: (
      font-family: "colfax-web",
      font-weight: 700,
      font-size: 2.35em,
      line-height: 1.25,
      margin-bottom: $base-spacing-unit
    ),
    h3: (
      font-family: "colfax-web",
      font-weight: 700,
      font-size: 1.8em,
      line-height: 1.25,
      margin-bottom: $base-spacing-unit
    ),
    h4: (
      font-family: "colfax-web",
      font-weight: 700,
      font-size: 1.4em,
      line-height: 1.2222222,
      margin-bottom: $half-spacing-unit
    ),
    h5: (
      font-family: "colfax-web",
      font-weight: 700,
      font-size: 1.125em,
      line-height: 1.25,
      margin-bottom: $half-spacing-unit
    ),
    h6: (
      font-family: "colfax-web",
      font-weight: 500,
      font-size: .875em,
      line-height: 1.125,
      margin-bottom: $half-spacing-unit
    ),
    h7: (
      font-family: "colfax-web",
      font-weight: 500,
      font-size: .775em,
      line-height: 1.125,
      margin-bottom: $half-spacing-unit
    ),
    label: (
      font-family: "colfax-web",
      font-size: .775em,
      font-weight: 500,
      line-height: 1.125
    )
  ),
  meta-serif: (
    p: (
      font-family: "ff-meta-serif-web-pro",
      font-size: $base-font-size/16px * 1em,
      line-height: $line-height-ratio,
      margin-bottom: $base-spacing-unit
    ),
    small: (
      font-size: .875em,
      line-height: $line-height-ratio,
      margin-bottom: $base-spacing-unit
    ),
    strong: (
      font-family: "ff-meta-serif-web-pro",
      font-size: $base-font-size/16px * 1em,
      font-weight: 700,
      line-height: $line-height-ratio,
      margin-bottom: $base-spacing-unit
    ),
    em: (
      font-family: "ff-meta-serif-web-pro",
      font-style: italic,
      font-weight:500,
      font-size: .875em,
      line-height: $line-height-ratio,
      margin-bottom: $base-spacing-unit
    )
  )
);


// type sets
$typography: (
  h1: colfax,
  h2: colfax,
  h3: colfax,
  h4: colfax,
  h5: colfax,
  h6: colfax,
  h7: colfax,
  p: meta-serif,
  small: meta-serif,
  strong: meta-serif,
  em: meta-serif,
  label: colfax
);

// constrains
// <div class="contrain-form">
//  Markup
// </div>
$constraints: extend($constraints, (
  "forms" : (
    max-width: 500px
  )
));

@import "../../vendor/fonts/colfax-hinted/light";
@import "../../vendor/fonts/colfax-hinted/regular";
@import "../../vendor/fonts/colfax-hinted/medium";
@import "../../vendor/fonts/colfax-hinted/bold";
@import "../../vendor/fonts/colfax-hinted/black";
