@import "../../vendor/fonts/font-awesome/font-awesome";

@import "../../vendor/junction/lib/mixins";

@import "theme";

@import "../../vendor/junction/lib/framework";

@import "_bootstrap-grid";
@import "modals";
@import "forms";
@import "panel";
@import "rock-admin";

@import "overrides";

.shell {
  max-width: 500px;
  margin: 0 auto;

  text-align: left;
}
