.contextsetter {
    background-color: @dropdown-bg;
    border: 1px solid @dropdown-border;
    border-radius: @border-radius-base;
    margin: @base-spacing-unit 0;

    .dropdown-toggle {
        &:hover, &:focus {
            background-color: transparent !important;
        }
    }

}

.campus-context-setter,
.schedule-context-setter,
.group-context-setter,
.date-range-context-setter {
  display: inline-block;
  margin: 0 @base-spacing-unit @base-spacing-unit 0;
  
}