.picker {
  
  .picker-label {
    background-color: @input-bg;
  }
  
  .dropdown-menu {
    width: 100%;
    
    .scroll-container {
      width: 100%;
    }
    
    .viewport {
      width: 100%;
    }
    
    .scrollbar {
      position: absolute;
      right: 0;
    }
  }
}